/* navbar */
.container {
    width: 95%;
    margin: auto;
    padding: .8rem;
}

#top-nav {
    display: flex;
    justify-content: right;
    background-color: #063c4d;
    padding: 10px 70px 10px 0px;

}

#top-nav>a {
    padding-left: 1rem;
    font-size: 15px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in;
    

}

#top-nav>a:hover {
    color: #00d586;

}

#navbar {
    position: fixed;
    display: flex;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    justify-content: space-between;
    background-color: #063C4D;
    align-items: center;
   
    width: 100%;
    z-index: 500;
    transition: all 0.6s ease;
}

.sticky {
    top: 0;
    background-color: #ffffff  !important;
   

}
.sticky a{
    color: #063C4D !important;
    font-weight: 500;
}
.resources {
    border-radius: 20px;
}


#navbar>div {
    font-size: 20px;
    color: #949494;


}

#mid {
    display: flex;
    margin: auto;
    align-items: center;


}

#mid>a {
    margin: 10px;
    font-size: 20PX;
    color: white;
    transition: all 0.3s ease-in;
}

#mid>a:hover {
    color: #00d586;
}

.last {
    background-color: #FFD265;
    padding: 15px 24px;
    color: #063C4D;
    border-radius: 20PX;
    font-size: 14PX;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: .5px;
}

.sticky {
    top: 0;

}
       /* end of nav bar */
       *{
        box-sizing: border-box;
       }
       #header{
           background-image: linear-gradient(173deg, #063c4d, #042d3a);
           border: 1px solid black;
           height: 1000px;
           width: 100%;
       }
       #writing{
           width: 33%;
           height: fit-content;
           padding: 10px;
           color: #Dad2d3;
           margin-top: 250px;
           margin-left:150px;
           font-size: 25px;
           line-height: 35px;
           font-weight: bold;
       }
       #wp{
           position: absolute;
          left: 51%;
         right: auto;
         bottom: 0%;
          z-index: 2;
          
          height: 70%;
       }
       #wp2{
           position: absolute;
          left: 63%;
         right: auto;
         bottom: -16%;
          z-index: 2;
          height: 75%;
       }
       #email{
           max-width: 518px;
   height: 80px;
   background: #ffffff; 
    border: 1px solid #dae2e3;
   box-sizing: border-box;
   border-radius: 142px;
   display: flex;
   align-items: center;
   padding: 10px 10px;
   justify-content: space-between;
   margin-bottom: 10px;
   text-decoration: none;
   border: none;
       }
       #emailbox{
           background: #ffffff; 
   border: 1px solid #dae2e3; 
       }
       #grid_layout{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: repeat(2,1fr);
          width: 20%;
          margin: auto;
          margin-left: 130px;
          height: 100px;
          
          
       }
       .logo{
           padding: 10px;
          margin-bottom: -35px;
           margin-top: 60px;
       }
       #part_2{
           overflow: hidden;
   padding-top: 155px;
   padding-bottom: 155px;
   background-color: #f4fbfc;
   margin-top: 160px;
   width: 100%;
   display: flex;
   
        } 
        #element{
          padding-left: 130px;
          margin-top: -60px;
          background-color: #f4fbfc;
          height: 700px;
        }
        .p{
           margin-top: -60px;
           margin-left: 80px;
           font-size: 20px;
           color: #576f76;
           
           width: 25%;
           line-height: 29px;
        }
        .img img{
           width: 70px;
           margin-top: 40px;
           height: 70px;
           border-style: solid;
   border-width: 1px;
   border-color: #dae2e3;
   border-radius: 16px;
   background-color: #fff;
   box-shadow: 3px 3px 6px 0 rgb(118 146 154 / 10%);
   padding: 10px;
        }
        #btn{
           padding: 25px 60px;
           background-color: #ffd265;
           color: #063c4d;
           border-radius: 80px;
           border: none;
           font-size: 20px;
           margin-top: 40px;
           font-weight: bold;
        }
        #im{
           height: 700px;
           width: 55%;
           margin-top: -1100px;
           margin-left: 550px;
           position: relative;
           display: inline-block;
           vertical-align: middle;
        } 
           #cover1{
           margin-top: -1430px;
           margin-left: 1200px;
           }
         #cover2{
           margin-left: 530px;
           margin-top: -390px;
           position: absolute;
           left: 5%;
           right: auto;
         }
         /* part3 */
         .part3{
           overflow: hidden;
        padding-top: 220px;
        padding-bottom: 220px;
        padding: 100px 24px;
         }
         .con{
           position: relative;
           display: block;
           max-width: 1225px;
          margin-right: auto;
          margin-left: auto;
         }
         .card1{
           position: relative;
         z-index: 2;
         padding: 50px 48px;
           border-style: solid;
         border-width: 1px;
        border-color: #dae2e3;
        border-radius: 26px;
        background-color: #fff;
        box-shadow: 17px 17px 38px 0 rgb(6 60 77 / 5%);
         }
         .card2{
           grid-column-gap: 67px;
          grid-template-columns: 0.8fr 1fr;
        grid-template-rows: auto;
        display: grid;
        grid-auto-columns: 1fr;
        grid-row-gap: 16px;
  
         }
         .card4{
           display: flex;
   -webkit-box-pack: center;
   justify-content: center;
   flex-wrap: nowrap;
   -webkit-box-align: center;
   align-items: center;
   border-radius: 30px;
   background-color: rgba(0, 213, 134, 0.07);
         }
        .card5{
           display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: start;
   align-items: flex-start;
        }
        .head{
           color: #063c4d;
   font-size: 36px;
   line-height: 50px;
   font-weight: 500;
        }
        .dc{
           display: flex;
   margin-top: 40px;
   -webkit-box-pack: start;
   justify-content: flex-start;
   -webkit-box-align: center;
   align-items: center;
        }
        .autor-name {
   margin-bottom: 12px;
   font-size: 23px;
   line-height: 26px;
   font-weight: 500;
}
.autor-title {
   color: #85959a;
   font-size: 22px;
   line-height: 1.3;
}
.color {
   color: #00d586;
}
.bg1{
   position: absolute;
   left: -4%;
   top: -10%;
   right: auto;
   bottom: auto;
   display: inline-block;
   max-width: 100%;
   vertical-align: middle;
   border: 0;
   box-sizing: border-box;
}
.bg2{
   position: absolute;
   left: auto;
   top: auto;
   right: -6%;
   bottom: -12%;
   display: inline-block;
   max-width: 100%;
   vertical-align: middle;
   border: 0;
   box-sizing: border-box;
}
.part4{
   top: auto;
   position: relative;
   padding-top: 175px;
   padding-bottom: 175px;
   background-color: #063c4d;
   padding: 150px 24px;
   display: block;
}
.container-default {
   max-width: 1225px;
   margin-right: auto;
   margin-left: auto;
}
.tip{
   margin-top: 0px;
   color: #fff;
   margin-bottom: 10px;
   font-size: 38px;
   line-height: 54px;
   font-weight: 500;
   
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}
.tanp{
   color: #dae2e3;
   max-width: 350px;
   margin-bottom: 40px;
   font-size: 18px;
   line-height: 30px;
   margin-top: 0;
   box-sizing: border-box;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}
.demo{
   margin-right: 24px;
   color: #063c4d;
   padding: 20px 40px;
   border-color: transparent;
   border-radius: 100px;
   background-color: #ffd265;
   box-shadow: 4px 4px 16px 0 rgb(255 210 101 / 16%);
   transition: all 350ms ease;
   font-size: 18px;
   line-height: 20px;
   font-weight: 500;
   text-align: center;
   transform-style: preserve-3d;
   display: inline-block;
   border: 0;
   text-decoration: none;
   cursor: pointer;
   box-sizing: border-box;
}
.start{
   padding: 20px 40px;
   border-style: solid;
   border-width: 1px;
   border-color: #dae2e3;
   border-radius: 100px;
   background-color: #fff;
   box-shadow: 1px 1px 10px 0 hsl(0deg 0% 100% / 15%);
   transition: all 350ms ease;
   color: #063c4d;
   font-size: 18px;
   line-height: 20px;
   text-align: center;
   display: inline-block;
   border: 0;
   text-decoration: none;
   cursor: pointer;
}
#iceberg{
   right: 3%;
   position: absolute;
   left: auto;
   top: auto;
  display: inline-block;
   bottom: 0%;
   max-width: 100%;
   vertical-align: middle;
   border: 0;
   box-sizing: border-box;
   height: fit-content;
}
#part5{
   overflow: hidden;
   padding-top: 140px;
   padding-bottom: 140px;
   padding: 100px 24px;
   box-sizing: border-box;
   display: block;
}
.res{
   text-align: center;
   overflow: hidden;
   padding-top: 10px;
   padding-bottom: 10px;
   box-sizing: border-box;
   display: block;
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-size: 38px;
}
#imo1{
   margin-top: 40px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   display: inline-block;
   max-width: 100%;
   vertical-align: middle;
   border: 0;
   box-sizing: border-box;
}
#imo2{
   margin-top: 32px;
   display: inline-block;
   max-width: 100%;
   vertical-align: middle;
   border: 0;
   box-sizing: border-box;
}
.part6{
    overflow: hidden;
    padding-top: 155px;
    padding-bottom: 155px;
    background-color: #f4fbfc;
    padding: 100px 24px;
    display: block;
}
.pen1{
    grid-column-gap: 115px;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
   grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 16px;
    box-sizing: border-box;
}
.pen2{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    box-sizing: border-box;
}
.line{
    margin-bottom: 24px;
    margin-top: 0px;
    display: block;
    font-size: 38px;
    line-height: 54px;
    font-weight: 500;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.pen3{
    margin-top: 70px;
    margin-bottom: 40px;
    width: 100%;
    height: 1px;
    background-color: rgba(184, 194, 196, 0.8);
    display: block;
}
.pen4{
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.pen_img{
    max-width: 123px;
    margin-right: 33px;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
}
.pen5{
    margin-bottom: 13px;
    font-size: 22px;
    line-height: 39px;
    font-weight: 500;
    box-sizing: border-box;
    display: block;
}
.name{
    color: #063C4D;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.exp{
    color: #85959a;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.sec_btn{
    padding: 20px 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #dae2e3;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0 hsl(0deg 0% 100% / 15%);
   display: inline-block;
    transition: all 350ms ease;
    color: #063c4d;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}
.pen6{
    position: relative;
    box-sizing: border-box;
    display: block;
}
.card{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: relative;
    z-index: 1;
    border-style: solid;
    border-width: 1px;
    border-color: #dae2e3;
    border-radius: 26px;
    background-color: #fff;
    box-shadow: 17px 17px 38px 0 rgb(6 60 77 / 5%);
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
    color: #00d586;
    cursor: pointer;
}
.pen7{
    overflow: hidden;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    display: block;
}
.pen7_img{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    width: 100%;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;

}
.pen8{
    display: flex;
    padding: 36px 35px 50px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
}
.pen8_para{
    margin-bottom: 8px;
    color: #063c4d;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.pen8_para2{
    margin-bottom: 24px;
    color: #576f76;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.pen8_para3{
    color: rgb(0, 213, 134);
    border-color: rgb(0, 213, 134);
    padding-bottom: 8px;
    border-bottom: 2px solid #00d586;
    font-size: 18px;
    display: block;
}
.pen8_imo1{
    position: absolute;
    left: auto;
    top: -7%;
    right: -23%;
    bottom: auto;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.pen8_imo2{
    position: absolute;
    left: -16%;
    top: auto;
    right: auto;
    bottom: 3%;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;


}
.part7{
    overflow: hidden;
    padding-top: 140px;
    padding-bottom: 140px;
    padding: 100px 24px;
    display: block;
}
div{
    display: block;
}
.con_part7{
    max-width: 565px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.part7_head{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 54px;
    font-weight: 500;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.grid_lay{
    margin-top: 40px;
    grid-column-gap: 26px;
    grid-row-gap: 26px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    display: grid;
    grid-auto-columns: 1fr;
}
.card-steps {
    padding: 55px 40px 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #dae2e3;
    border-radius: 26px;
    background-color: #fff;
    box-shadow: 4px 4px 14px 0 rgb(8 15 52 / 4%);
}
.icon_card{
    background-color: #dcf8ee;
    display: flex;
    width: 120px;
    height: 120px;
    margin-bottom: 34px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 1000px;

}
img{
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;

}
h3{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.part7_para{
    margin-bottom: 10px;
    color: #576f76;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.part8{
    background-image: url(https://assets.website-files.com/60819f9be381394642b5659e/6081c4401f9db9638f7e83ed_leadiq-leader-background-1.svg),
    url(https://assets.website-files.com/60819f9be381394642b5659e/6081c4401f9db9638f7e83ed_leadiq-leader-background-1.svg);
    background-position: 100% 100%, 0px 0px;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #063c4d;
    padding: 100px 24px;
}
.part8_con{
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.part8_head{
    color: #fff;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 54px;
    font-weight: 500;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.part8_gridlay{
    margin-top: 30px;
    grid-column-gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 16px;
}
.part8_grid_cont{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    display: inline-block;
    max-width: 100%;
vertical-align: middle;
border: 0;
}
                        /* footer */
*{
    box-sizing: border-box;
}
div{
    display: block;
}
.footer{
    padding-top: 60px;
    padding-bottom: 32px;
    border-top: 1px solid #dae2e3;
    padding: 100px 24px;
}
.footer-layout{
    display: grid;
    margin-bottom: 65px;
    grid-column-gap: 50px;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
}
.footer-logo{
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}
a{
    color: #00d586;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
.footer-leadIQ{
    max-width: 100%;
    display: inline-block;
}
.img{
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;

}
.footer-btns{
    display: flex;
    justify-content: flex-end;
    -webkit-box-pack: end;
   -webkit-box-align: center;
   align-items: center;

}
#demo-btn{
    display: inline-block;
    padding: 20px 40px;
    border-color: transparent;
    border-radius: 100px;
    background-color: #ffd265;
    box-shadow: 4px 4px 16px 0 rgb(255 210 101 / 16%);
    transition: all 350ms ease;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-right: 24px;
}
#start-btn{
    display: inline-block;
    padding: 20px 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #dae2e3;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0 hsl(0deg 0% 100% / 15%);
    transition: all 350ms ease;
    color: #063c4d;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.break{
    height: 1px;
    min-width: 200px;
    background-color: #dae2e3;
}
.footer-layout2{
    display: grid;
    margin-top: 70px;
    margin-bottom: 70px;
    grid-column-gap: 29px;
    grid-template-columns: 0.75fr 1.5fr 0.5fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 16px;
}
.footer-content{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
}
.footer-title{
    margin-bottom: 38px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
}
.footer-group{
    margin-bottom: 20px;
    transition: all 350ms ease;
    color: #576f76;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}
.footer-group-last{
    margin-bottom: 0px;
    transition: all 350ms ease;
    color: #576f76;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}
.footer-two{
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
}
.left-footer{
    display: flex;
    margin-right: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
}
.right-footer{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
}
.footer-row3{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
}
.footer-contact{
    display: flex;
    margin-bottom: 20px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    transition: all 350ms ease;
    color: #576f76;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}
.footer-icon{
    margin-right: 10px;
}
.footer-bottom{
    display: grid;
    grid-auto-columns: 1fr;
    margin-top: 32px;
    grid-column-gap: 50px;
    grid-template-columns: 0.5fr 1fr 0.25fr;
    grid-template-rows: auto;
    grid-row-gap: 16px;
}
.con-left{
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}
.copyright {
    color: #576f76;
    font-size: 16px;
    line-height: 18px;
}
.middle-footer{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.foot{
    margin-right: 20px;
    margin-left: 20px;
    color: #576f76;
    font-size: 16px;
    line-height: 18px;
}
.foot-right{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.facebook{
    background-color: #0678e9;
}
.social-media{
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 18px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100px;
    transition: all 350ms ease;
    max-width: 100%;
}
.twitter{
    background-color: #1ea1f2;
}
.linkedin{
    background-color: #0766c1;
}
.youtube{
    margin-right: 0px;
    background-color: red;
}
img{
    vertical-align: middle;
}